@model List<AppRole>

@{
    ViewData["Title"] = "Index";
}
<a class="btn btn-primary" asp-area="admin" asp-controller="Roles" asp-action="RoleCreate">Rol Ekle</a>
<h1>Index</h1>

<hr />

<h2>Roles</h2>

<table class="table">
    <thead>
        <tr>
            <th>Role Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var role in Model)
        {
            <tr>
                <td>@role.Name</td>
            </tr>
        }
    </tbody>
</table>