
@{
    ViewData["Title"] = "ResetPassword";
}

@model ForgotPasswordViewModel

@section Scripts
{ @await Html.PartialAsync("_ValidationScriptsPartial" )}

<div class="row">
    <div class="col-md-4 offset-md-4">

        @if (TempData["SuccesMessage"] != null)
        {
            <div class="alert alert-success" role="alert">

                @TempData["SuccesMessage"]
            </div>
        }

        <h4 class="alert alert-info">Şifre yenileme linki, e-posta adresinize gönderilecek</h4>



        <div asp-validation-summary=ModelOnly class="alert alert-danger" role="alert">
        </div>
        <form method="post"> 
            @* // url hangi sayfada ise o sayfaya atacak *@
            <div class="mb-3">
                <label for="Email" class="form-label" asp-for="Email"></label>
                <input class="form-control" asp-for="Email">
                <span class="text-danger" asp-validation-for="Email"></span>
            </div>
          
   
            <button type="submit" class="btn btn-primary">Gönder</button>   
        </form>
    </div>
</div>
