@{
    ViewData["Title"] = "SignUp";
}
@model SignUpViewModel

<div class="row">
    <div class="col-md-6 offset-md-3">
        <h2>Kullanıcı Kayıt formu</h2>

        @if (TempData["SuccesMessage"] != null)
        {
            <div class="alert alert-info" role="alert">

                @TempData["SuccesMessage"]
            </div>
        }

        <div asp-validation-summary="ModelOnly" class="alert alert-info" role="alert">

            
        </div>

        <form asp-controller="Home" asp-action="SignUp" method="post">
            <div class="row mb-3">
                <label for="UserName" class="col-md-4 col-form-label" asp-for="UserName"></label>

                <div class="col-md-8">
                    <input asp-for="UserName" class="form-control">
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label for="Email" class="col-md-4 col-form-label" asp-for="Email"></label>

                <div class="col-md-8">
                    <input asp-for="Email" class="form-control">
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label for="PhoneNumber" class="col-md-4 col-form-label" asp-for="PhoneNumber"></label>

                <div class="col-md-8">
                    <input asp-for="PhoneNumber" class="form-control">
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label for="Password" class="col-md-4 col-form-label" asp-for="Password"></label>

                <div class="col-md-8">
                    <input asp-for="Password" class="form-control">
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label for="PasswordConfirm" class="col-md-4 col-form-label" asp-for="PasswordConfirm"></label>

                <div class="col-md-8">
                    <input asp-for="PasswordConfirm" class="form-control">
                    <span asp-validation-for="PasswordConfirm" class="text-danger"></span>
                </div>
            </div>
            <div class="row mb-3">

                <div class="col-md-8 offset-md-4">
                    <button type="submit" class="btn btn-primary">Kayıt ol</button>
                </div>
            </div>

        </form>
    </div>
</div>

